@media screen and (max-width: 600px) {

    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background-color: black;
        color: #ffffff;
    }

    .logo {
        width: 100%;
        height: 100%;
        margin-top: -35%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        width: 500px;
        height: 50%;
    }

    .formulaire {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -50%;
    }

    .formulaire form {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    .input-wrapper {
        width: 100%;
        position: relative;
    }

    .formulaire input[type="text"] {
        width: 90%;
        height: 50px;
        margin: 10px;
        padding: 10px;
        border: 3px solid #9C27B0;
        border-radius: 10px;
        background-color: transparent;
        color: #ffffff;
        position: relative;
    }

    .formulaire label[for="prenom"],
    .formulaire label[for="nom"] {
        position: absolute;
        top: 0;
        left: 7.5%;
        transform: translateY(30%);
        color: #9c27b0;
        font-size: 1em;
        transition: 0.3s all;
        margin-top: -4px;
        z-index: 2;
    }

    .formulaire label[for="prenom"]::after,
    .formulaire label[for="nom"]::after {
        content: "";
        position: absolute;
        top: 9px;
        /* ajustez ces valeurs pour positionner le pseudo-élément */
        left: -5%;
        width: 110%;
        /* ajustez ces valeurs pour dimensionner le pseudo-élément */
        height: 10%;
        background-color: #ffffff;
        /* changez cette couleur pour changer la couleur de la "bordure" */
        z-index: -1;
    }

    /* Hide the default checkbox */
    .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .checkbox {
        display: flex;
        gap: 10px;
        left: 18%;
    }

    .conditions+p {
        position: relative;
        padding-left: 30px;
    }

    /* Create a custom checkbox */
    .conditions+p::before {
        content: "";
        position: absolute;
        left: 0;
        top: 1px;
        box-shadow: rgb(156, 39, 176) 0px 0px 0px 2px;
        background-color: rgba(16, 16, 16, 0.5);
        height: 20px;
        width: 20px;
        margin-right: 10px;
        flex-shrink: 0;
        margin-top: -1px;
        transition: all 0.2s ease 0s;
        cursor: pointer;
        transform-origin: 0px 10px;
        border-radius: 4px;
        margin: -1px 10px 0px 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .conditions:checked+p::before {
        box-shadow: rgb(156, 39, 176) 0px 0px 0px 2px;
        background-color: rgb(171, 71, 188);
        height: 20px;
        width: 20px;
        margin-right: 10px;
        flex-shrink: 0;
        margin-top: -1px;
        transition: all 0.2s ease 0s;
        cursor: pointer;
        transform-origin: 0px 10px;
        border-radius: 4px;
        margin: -1px 10px 0px 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .conditions+p::after {
        content: "";
        position: absolute;
        display: none;
    }

    .conditions:checked+p::after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .conditions:checked+p::after {
        left: 0.45em;
        top: 0.25em;
        width: 0.25em;
        height: 0.5em;
        border: solid white;
        border-width: 0 0.15em 0.15em 0;
        transform: rotate(45deg);
        transition: all 500ms ease-in-out;
    }

    .formulaire input[type="submit"] {
        width: 95%;
        height: 50px;
        margin: 10px;
        padding: 10px;
        border: 3px solid #ab47bc;
        border-radius: 10px;
        background-color: #AB47BC;
        color: #ffffff;
        cursor: pointer;
        font-size: 1em;
        transition: 0.3s all;
    }

}